    <div class="info-column">
        <h1>Anti Printer-Racket Petition</h1>
            <img src="/comic.png" alt="funny-comic" class="intro-comic">
        <p>If you, or a loved one has ever been victimized by a <br>-fraudulent "low ink" message <br>-convoluted printer setup procedure<br>-printer that refuses to print black/white documents because it has low color ink,<br>please sign our petition to criminalize these practices!</p>
    </div>