    <div class="info-column">
        <h1>Anti Printer-Racket Petition</h1>
            <img src="/comic.png" alt="funny-comic" class="intro-comic">

        <div class='info-div'>
            <p>If you, or a loved one has ever been victimized by a</p> 
                <ul class="ul-intro">
                    <li>fraudulent "low ink" message</li>
                    <li>convoluted printer setup procedure</li>
                    <li>printer that refuses to print black/white documents because it has low color ink</li>
                </ul>
            <p>please sign our petition to criminalize these heinous product design practices!</p>
        </div>
    </div>