<h1 id='headline'>Petition to end bad things</h1>
    <p id='petition-text'>Hello. For too long now, bad things have been happening. If they didn't happen, it would be nice. Therefore, with this petition, we at Martincorporated would like to gather your support to end all bad things, and leave only good things.</p>

        {{#if tryAgain}}
        <p id="errorMessage">Woops! A bad thing happened. Please try again.</p>
        {{/if}}
    <form method='POST'>
        <div class="input-div">
            <label for="firstName">First Name</label><input id='firstName' name='firstName' type="text" required>
        </div>
        <div class="input-div">
            <label for="lastName">Last Name</label><input id='lastName' name='lastName' type="text" required>
        </div>
        <div class="input-div">
            <canvas id="canvas" width="400" height="70"></canvas>
            <label for="canvas">Sign Here</label><input id ='sig' name='sig' type="hidden" value='' required>
        </div>

        <button id='petitionSubmit'>Submit</button>
    </form>
    <button id="redoSig">Rewrite Signature</button>
