{{> logout}}

<div class='form user-profile-form form-column'>
    <form method='POST' id='profile-form' class='inside-form'>
        <p class="form-header">User Profile</p>
        <div class='input-fields'>

            <div class="input-div">
                <label for="age">Age:   </label><input id='age' name='age' type="text" >
            <div class="input-div">
                <label for="city">City:   </label><input id='city' name='city' type="text" >
            </div>
            <div class="input-div">
                <label for="user_website">Homepage (URL):   </label><input id='user_website' name='user_website' type="text" >
            </div>

        </div>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <button class='submit submit-profile'>Continue</button>
    </form>

      {{#if tryAgain}}
            <p id="errorMessage">Woops! Looks like something went wrong. Please try again.</p>
        {{/if}}
</div>