
<div class="register-login-body">
    <div class='form registration form-column'>

        <form method='POST' id='reg-form' class='inside-form'>
            <p class="form-header">Registration</p>
            
            <div class='input-fields-div'>
                <label for="firstName">First Name: {{#if tryAgain}}*{{/if}}   </label>
                <input id='firstName' name='firstName' type="text"  title="must contain characters" minlength="2">

                <label for="lastName">Last Name: {{#if tryAgain}}*{{/if}}  </label>
                <input id='lastName' name='lastName' type="text" minlength="2">
        
                <label for="email">Email: {{#if tryAgain}}*{{/if}}  </label>
                <input id='email' name='email' type="text" minlength="2">

                <label for="password">Password: {{#if tryAgain}}*{{/if}}  </label>
                <input id='password' name='password' type="text" minlength="2">
            </div>

            {{#if tryAgain}}
            <p class="errorMessage">Woops! Looks like something went wrong. Please try again.</p>
            <p>* <span class="errorMessage2">Mandatory fields</span></p>
            {{/if}}

            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <button class='submit submit-registration'>Register</button>
        </form>

            <div class='goTo-link'>Go to <a href="/login" id='login-link'>Login</a></div>
    </div>

    <div class="info-column">
        <p>Ever been extorted by a printer?</p>
            <img src="/comic.png" alt="funny-comic" class="intro-comic">
        <p>Sign our petition to criminalize printer-scams!</p>
    </div>

</div>