{{> logout}}
<h3 id="signersBelow">We, whose names are listed below, have pledged to put an end to <span style="font-style:italic">Big Print's</span> evil deeds:</h3>

<div id="signerNamesDiv">
{{#signerNames}}
    <p class="signerNames">{{.}}</p>
{{/signerNames}}
</div>

<img src="/picSigners.jpg" id='pic-signers'>