{{> logout}}

<h3 id='thxText'>Thank you for signing our petition to criminalise printer-indurty exploitation!</h3>

<img src='{{sigUrl}}' id='thx-sig'>

<a href="/signers" class='link thx-top'>
    <p class="thx-link-text">See all {{numbSigners}} signers</p>
</a>

<a href="/profile/edit" class='link thx-button'>
    <p class="thx-link-text">Edit your profile</p>
</a>

<form action="/sig-delete" method='POST' id='delete-sig'>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id='delete-sig-button' class="link thx-button">Delete Signature</button>
</form>

<a href="/delete" class='link thx-button'>
    <p class="thx-link-text">Delete Account</p>
</a>
