<h3 id='thxText'>Thank you for signing our petition to end printer exploitation!</h3>

<a href="/petition/signers" id='linkToSigners'>
    <p id="thxNumbSigners">See all {{numbSigners}} signers</p>
</a>
    <img src="/comic.png" alt="funny-comic" id="thx-comic">