<p id='thxText'>Thanks for signing our petition to end all bad things, and have only good things be!</p>

<a href="/petition/signers" id='linkToSigners'>
    <p id="thxNumbSigners">See all {{numbSigners}} signers</p>
</a>