* {
    font-family: Arial, Helvetica, sans-serif;
}
/* html {
    scroll-behavior: smooth;
} */
/* -----------------------------main Handlebars -------------------------------------------*/

body {
    /* background-color: rgb(255, 240, 217); */
    /* background-color: #9bc4cb; */
    background-image: url("back.jpeg");
    padding: 80px;
    font-family: "Courier New", Courier, monospace;
}

#main-body {
    border: 5px grey solid;
    border-radius: 10px;
    background-color: #f9feff;
    background-color: rgba(245, 245, 245, 0.97);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(255, 252, 249); */
    /* border-radius: 10px; */
    padding: 20px;
    min-width: 560px;
}

p,
input,
label {
    font-size: 20px;
}

p,
h1,
h3 {
    text-align: center;
}

/* -----------------------------On multiple Pages -------------------------------------------*/

#logout-div {
    /* border: 1px solid red; */
    align-self: flex-end;
}

/* ---------------------Form ----------------------------------*/

.form-column,
.info-column {
    /* border: 4px red solid; */
    display: flex;
    flex-direction: column;
    align-self: space-around;
    align-items: center;
}

.intro-comic {
    width: 400px;
}

.info-column p {
    max-width: 400px;
}

.form-header {
    text-decoration: underline;
    font-style: bold;
}

.form {
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgb(222, 220, 220);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-div {
    /* border: 1px red solid; */
    text-align: center;
    margin: 50px;
}

.submit {
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    /* align-self: center; */
    height: 30px;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover {
    color: white;
    background-color: grey;
}

.submit:focus {
    outline: none;
    background-color: black;
    border-radius: 17px;
    color: white;
    border: 1px white solid;
}

.goTo-link {
    /* border: 1px red solid; */
    width: 150px;
    margin-top: 30px;
    text-align: center;
    /* align-self: flex-end; */
}

/* -----------------------------/register Page -------------------------------------------*/

#register-body {
    /* border: purple 5px solid; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inside-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -----------------------------/login Page -------------------------------------------*/

#login-body {
    /* border: purple 5px solid; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* -----------------------------/petition Page -------------------------------------------*/

#headline {
    /* text-decoration: underline; */
}

.line-divider {
    border: 1px lightgrey solid;
    width: 60%;
}

#sub-title {
    font-size: 20px;
    font-style: italic;
}

#office-space {
    margin: 50px;
    margin-bottom: 0;
}

#office-space-pic {
    width: 400px;
}

figcaption {
    font-size: 14px;
    font-style: italic;
    color: grey;
}

.petition-text {
    /* border: 1px red solid; */
    max-width: 800px;
    margin-top: 40px;
    margin-bottom: 20px;
}
#list-printer-offenses {
    margin-bottom: 40px;
}

li {
    font-size: 20px;
    max-width: 500px;
    margin-bottom: 10px;
}

.not {
    color: magenta;
    /* background-color: rgb(227, 227, 227); */
}
.even {
    color: yellow;
    /* background-color: rgb(206, 206, 206); */
}
.using {
    color: cyan;
    /* background-color: rgb(194, 194, 194); */
}

.list-word {
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: 600;
}

#errorMessage {
    font-weight: bold;
    color: red;
    margin-bottom: -10px;
}

#errorMessage2 {
    font-size: 16px;
}

/* #petition-form {
    border: 2px black solid;
    border-radius: 10px;
    background-color: rgb(222, 220, 220);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

input {
    border: none;
    border-bottom: 1px black solid;
    background-color: rgba(245, 245, 245, 0);
    width: 200px;
    height: 20px;
}

input:focus {
    outline: none;
    border-bottom: 2px solid black;
    /* background-color: rgb(247, 247, 247); */
}

#canvas-div {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 402;
}

canvas {
    border: 1px rgb(211, 211, 211) solid;
    border-bottom: 2px solid black;
    /* background-color: rgb(245, 238, 220); */
    background-color: #f0f4f4;
    display: inline-block;
    text-align: center;
    cursor: crosshair;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

canvas:hover {
    border: 1px solid rgb(154, 154, 154);
    border-bottom: 2px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#sign-here {
    display: block;
    align-self: flex-start;
}

#redoSig {
    border: 1px grey solid;
    border-radius: 5px;
    display: inline-block;
    /* margin-top: 30px; */
    font-size: 13px;
    align-self: center;
    /* font-weight: bold; */
    width: 180px;
    cursor: pointer;
}

#redoSig:hover {
    background-color: rgb(232, 232, 232);
}

#redoSig:focus {
    background-color: rgb(208, 208, 208);
    outline: none;
    /* border-top-left-radius: 3px;
    border-top-right-radius: 3px; */
}

.submit-petition {
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    align-self: center;
    height: 50px;
    width: 150px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

#submit-petition:hover {
    color: white;
    background-color: grey;
}

#submit-petition:focus {
    outline: none;
    background-color: black;
    border-radius: 17px;
    color: white;
    border: 1px white solid;
}

.vid {
    /* border: 1px red solid; */
    width: 560px;
    margin-top: 80px;
}
#scam-vid-title {
    font-size: 20px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}
/* -----------------------------/profile/edit Page -------------------------------------------*/
#updateMessage {
    font-weight: bold;
    color: green;
}

/* -----------------------------/thanks Page -------------------------------------------*/

#thx-sig {
    border-bottom: 2px grey solid;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    background-color: #d9eaed;
}

/* -----------------------------/signers Page -------------------------------------------*/

#pic-signers {
    width: 600px;
    margin: 50px;
}

/* -----------------------------tabledata Page -------------------------------------------*/

#table-body {
    /* zborder: 1px red solid; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.td-title {
    font-weight: bold;
    background-color: white;
    padding: 5px;
}

.data {
    /* border: 1px red solid; */
    overflow: scroll;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    padding: 5px;
    margin-top: 5px;
}

#table {
    /* border: 1px green solid; */
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 50px repeat(2, minmax(150px, 300px)) 150px minmax(
            150px,
            1fr
        );
    grid-gap: 5px;
}

#td-id {
    margin-left: 5px;
}
